


<link rel="stylesheet" href="styles.css">

:root {
  --charcoal: #5A5353;
  --dusty-muave: #A07178;
  --rosy-taupe: #C39F9B;
  --almond-silk: #E6CCBE;
  --dusty-lavender: #776274;
  --dry-sage: #C8CC92
}
